@model IEnumerable<Lib2.Models.book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Book Name
        </th>
        <th>Contents
        </th>
        <th>No. of pages
        </th>
        <th>Edition
        </th>
        <th>Author Name
        </th>
        <th>Category Name
        </th>
        <th>
            Publisher Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.catname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
